services:
  db:
    image: postgres:16
    container_name: sghss_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sghss
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sghss_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3333:3333"

volumes:
  db_data:
